a:hover, a:active, a:focus {
	outline: none;
	text-decoration: none;
}

:root {
	--violate: #b91764;
}

body {
	font-family: 'verdana', sans-serif;
	font-size: 16px;
}

.btn {
	border: none;
}

.btn-plain {
	color: #fff;
	font-size: 20px;
	padding: 10px 0;
	transition: 0.3s;
	display: inline-block;

}

.btn-plain i.fa {
	transition: 0.1s;
	margin-left: 5px;
}

.btn-plain:hover {
	color: var(--violate);
}

.btn-plain:hover i.fa {
	transform: translateX(5px);
}

.btn-gradient {
	background: linear-gradient(45deg, #621c8c, #cb0074);
	color: #fff;
	border-radius: 30px;
	padding: 10px 25px;
}





.section-space {
	padding: 80px 0;
}

.section-title {
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.section-title h2 {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 30px;
}

.section-title p {
	font-size: 20px;
	line-height: 35px;
}

.yellow {
	color: yellow;
}

.vred {
	color: #b00b51;
}




/* Global Css End */





/* -----------------------------------------------------
 Header area 
----------------------------------------------------- */
header.navbar {
	padding: 0px;
}

header .container {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
}

ul.main-menu {}
ul.main-menu li {
	position: relative;

}
ul.main-menu li a {
	color: var(--violate);
	padding: 5px 20px;
}
ul.main-menu li a:hover {
	color: black;
}


ul.main-menu li ul {
	position: absolute;
	list-style: none;
	top: 25px;
	left: 0;
	opacity: 0;
	width: 200px;
	padding: 20px;
	transition: 0.3s;
	visibility: hidden;
	border-radius: 5px;
	background-color: #fff;
	transform: translateY(50px);
	box-shadow: 0 3px 5px 0px #999;
}

ul.main-menu li:hover ul {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}








/* -----------------------------------------------------
 Slider area 
----------------------------------------------------- */
.slider-section {
	height: 600px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/slider/slide-1.jpg);
}

.slider-section:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0000006b;
}

.slider-content {
	position: relative;
	z-index: 1;
	max-width: 550px;
}

.slider-content h1 {
	color: #fff;
	font-size: 60px;
	font-weight: bold;
}
.slider-content a {}


.slider-thumbs {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
	padding: 0 15px;
}

.slider-thumbs img {
	width: 100%;
}







/* -----------------------------------------------------
 About area 
----------------------------------------------------- */
.featured-img-box {
	position: relative;
}

.featured-img-box img {
	width: 100%;
}

.featured-img-box div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000070;
	padding: 20px;
}

.featured-img-box p {
	color: #fff;
	margin: 0;
	font-size: 20px;
	font-weight: 500;
}





/* -----------------------------------------------------
 Work area 
----------------------------------------------------- */
.work-section {
	color: #fff;
	background-color: #333;
}

.work-img-box {
	position: relative;
	margin-bottom: 30px;
}

.work-img-box img {
	width: 100%;
}

.work-img-box div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000070;
	padding: 20px;
}

.work-img-box p {
	color: #fff;
	margin: 0;
	font-size: 20px;
	font-weight: 500;
}





/* -----------------------------------------------------
 Footer area 
----------------------------------------------------- */
.footer-content {}

.address {
    padding: 40px 20px;
    background: #db5757;
    border-radius: 5px 0 0 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
	padding: 40px 20px;
	background: #ffdb00;
    border-radius: 0 5px 5px 0;
    flex: 1;
}

.contact h3 {
	margin: 0 auto;
	max-width: 250px;
}

.contact img {
	display: block;
	margin: 30px auto;
}

@media (max-width: 767px) {

	.footer-content {
		flex-direction: column;
	}

	.address {
	    border-radius: 5px 5px 0 0;
	}

	.contact {
	    border-radius: 0 0 5px 5px;
	}

}